@charset "UTF-8";

/* 배경 화면 */
body {
  background-image: url("/static/cafes/images/background.jpg");
  background-repeat: repeat;
  font-family: 'Jua', sans-serif;
  width: 100%;
  background-size: cover;
}


.my-hr1 {
  border: 0;
  height: 1px;
  background: rgb(255, 196, 0);
}
.my-hr2 {
  border: 0;
  height: 1px;
  background: rgb(0, 16, 237);
}

.my-hr3 {
  border: 0;
  height: 3px;
  background: rgb(255, 196, 0);
}

/* 카페 사진 위의 기본 정보 */
.titles {
  align-items: center;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 15% 0 4rem 0;
}
.slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.slider-item{
  height: 400px;
  width: 100%;
  text-align: center;
  font: 800;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  top: 0;
  position: absolute;
  z-index: 0;
  opacity: 0;
  transition:all 0.5s ease-in-out;
  transform: scale(0.9);
}

.showing{
  z-index: 1;
  opacity: 1;
  transform: none;
}

.slider-item:nth-child(1){
  background-color: #30A9DE;
  justify-self: center;
}
.slider-item:nth-child(2){
  background-color: #EFDC05;
}
.slider-item:nth-child(3){
  background-color: #E53A40;
}
.slider-item:nth-child(4){
  background-color: #2EC4B6;
}
.slider-item:nth-child(5){
  background-color: #EFFFE9;
  color:black;
}

.fas{
  font-size: 28px;
  z-index: 1;
  position: relative;
}

.arrow{
  width: 95%;
  margin: auto;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 가게 이름, 평점 */
.cafe-upper {
  display: flex;
}

.cafe-upper p {
  margin-bottom: 0.5rem;
}

.cafe-name {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ece7b4;
}

.rate-number {
  color: #ECE7B4;
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 1.3rem;
}


/* 가게 이름 아래 아이콘들 */
.cafe-lower {
  display: flex;
}

.views {
  display: flex;
}

.views img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(235deg) brightness(108%) contrast(102%);
  height: 1.3rem;
  width: 1.3rem;
}

.like img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(235deg) brightness(108%) contrast(102%);
  width: 1rem;
}

.bookmark img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(235deg) brightness(108%) contrast(102%);
  width: 1rem;
}

.share img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(235deg) brightness(108%) contrast(102%);
  width: 1rem;
}


/* 수정 버튼 */
.edit-button {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: center;
}

.edit-button img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(235deg) brightness(108%) contrast(102%);
  margin-bottom: 0.5rem;
  width: 2rem;
}

.edit-button p {
  color: #ffffff;
  margin: 0;
}

.map_wrap {
  position: relative;
  width: 100%;
  height: 350px;
}

.title {
  font-weight: bold;
  display: block;
}

.hAddr {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 2px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 5px;
}

#centerAddr {
  display: block;
  margin-top: 2px;
  font-weight: normal;
}

.bAddr {
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.rating .rate_radio+label {
  position: relative;
  display: inline-block;
  margin-left: -4px;
  z-index: 10;
  width: 60px;
  height: 60px;
  background-image: url('./image/starrate.png');
  background-repeat: no-repeat;
  background-size: 60px 60px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.rating .rate_radio:checked+label {
  background-color: #ff8;
}

.wrap {
  max-width: 480px;
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.rating .rate_radio {
  position: relative;
  display: inline-block;
  z-index: 20;
  opacity: 0.001;
  width: 60px;
  height: 60px;
  background-color: #fff;
  cursor: pointer;
  vertical-align: top;
  display: none;
}

.rating .rate_radio+label {
  position: relative;
  display: inline-block;
  margin-left: -4px;
  z-index: 10;
  width: 60px;
  height: 60px;
  background-image: url('./images/starrate.png');
  background-repeat: no-repeat;
  background-size: 60px 60px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.rating .rate_radio:checked+label {
  background-color: #ff8;
}

.warning_msg {
  display: none;
  position: relative;
  text-align: center;
  background: #ffffff;
  line-height: 26px;
  width: 100%;
  color: red;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
}


.review_create {
	background-color:#ECE7B4;
	border-radius:16px;
	border:1px solid #ECE7B4;
	display:inline-block;
	cursor:pointer;
	color:#0b0b0b;
	font-size:17px;
	font-weight:bold;
	padding:7px 30px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.review_create:hover {
	background-color:#ece8b6;
}
.review_create:active {
	position:relative;
	top:1px;
}


.profile_img {
  border-radius: 50rem;
  height: 5rem;
  object-fit: cover;
  width: 5rem;
}


.blind {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: none;
  clip: rect(0, 0, 0, 0);
}
 
          
.store-rate{
  color: rgb(255, 242, 0);
}

.headcard{
  background-color:#406343;
	border-radius:16px;
	border:1px solid #406343;

  /* opacity:85%; */
}

.headmenu { 
  display: flex;
  align-items: center;
}

.introduce_info {
	background-color:#406343;
	border-radius:16px;
	border:1px solid #406343;
	color:#0b0b0b;
	font-size:17px;
	font-weight:bold;
	padding:7px 30px;
	text-decoration:none;
  /* opacity:85%; */
}

.introduce_tema
{
	background-color:#406343;
	border-radius:16px;
	border:1px solid #406343;
	color:#0b0b0b;
	font-size:17px;
	font-weight:bold;
	padding:7px 30px;
	text-decoration:none;
  /* opacity:85%; */
}

.review_reply {
	background-color:#406343;
	border-radius:16px;
	border:1px solid #406343;
	display:inline-block;
	color:#0b0b0b;
	font-size:17px;
	font-weight:bold;
	padding:7px 30px;
	text-decoration:none;
	text-shadow:0px 0px 0px #406343;
}

.detail_name {
  color: #ece7b4;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
}


.yellow {
  color: #ece7b4;
}