@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

.content_block {
  z-index: 1;
  position: relative;
}

body {
  background-image: url("/static/image/background.jpg");
  font-family: 'NanumSquare', sans-serif
}