@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

body {
  background-image: url("/static/image/background.jpg");
  font-family: 'NanumSquare', sans-serif;
  width: 100%;
}