{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'cafes/css/cafe_search.css' %}">
{% endblock css %}

{% block content %}
<div id="scroll_data" data-scroll="{{articles}}" class="cafe-list infinite-container">
    {% for article in page_obj %}
        <div class="card infinite-item">
            <img src="{{ article.image1.url }}" class="card-img-top" alt="카페 이미지">
            <div class="card-body">
                <a href="{% url 'cafes:cafe_detail' article.pk %}" class="card-title">{{ article.name }}</a>
                <div class="cafe-address">
                    <img src="https://cdn-icons-png.flaticon.com/512/67/67872.png" alt="위치 아이콘">
                    <p class="card-text">{{ article.address }}</p>
                </div>
                <p class="sample">{{ article.cafeType }}</p>
            </div>
        </div>
    {% endfor %}
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?q={{query}}&page={{ page_obj.next_page_number }}"></a>
        {% endif %}
</div>
{% endblock content %}

{% block js %}
<!-- 무한 스크롤 -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
  let infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    offset: 'bottom-in-view',
    onBeforePageLoad: () => {},
    onAfterPageLoad: () => {}
  })
</script>
{% endblock js %}