{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="icon" href="/static/images/logo.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <style>
    body {
      font-family: 'Noto Sans KR', sans-serif;
    }
  </style>
{% endblock css %}

{% block content %}
  <div class="pink fs-5 fw-bold">맛집 리스트</span></div>
  <body class="bg-light">
    <div class="mt-5" id="wrapper" style="min-height: 90vh;">
      
<div class="row m-5 pb-5 d-flex justify-content-between">

<div id="mainControls" class="col-10 carousel slide">
  <div class="mb-2 d-flex justify-content-between">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20200825_74/1598301995604t8Jk0_PNG/9660_20191014034252_vnlt8.PNG" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                

              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">스타벅스 서울대입구역점</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 남부순환로 1812</div>
                <div><i class="pink bi bi-hash"></i> 커피</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  3
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  8
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20220528_12/1653713898040csIwv_PNG/KakaoTalk_20220505_080850541.png" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">카페아에 관악점</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i>서울 관악구 관악로 204 101호</div>
                <div><i class="pink bi bi-hash"></i> 카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  2
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  10
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20200514_130/1589451164772hJgs5_JPEG/PXRu9QCqpQCmjYyxS6x4JM2c.jpg" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">테이블1629</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 장군봉2길 32 1-2층</div>
                <div><i class="pink bi bi-hash"></i> 카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  2
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  5
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20220503_294/1651556677629stQF5_JPEG/IMG_9196.JPG" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">젠틀슬로프</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 쑥고개로 61 1층 젠틀슬로프</div>
                <div><i class="pink bi bi-hash"></i> 카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  1
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  3
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20220326_86/1648230204168XxnmE_JPEG/59F647E6-3FE9-4E39-A7C2-66F6DAB7D153.jpeg" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">다복다복</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 쑥고개로 66 1층</div>
                <div><i class="pink bi bi-hash"></i> 카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  1
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  2
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20221026_169/1666752886167lNB52_PNG/1666752858571.png" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">갤러리카페 비찰</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 신원로 10 남영빌딩 2층</div>
                <div><i class="pink bi bi-hash"></i> 카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  1
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  5
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20181023_98/1540280282725YaUE2_JPEG/YrxqvNMcNsql69ZSEnhnhCIG.jpg" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">보스커피앤브런치</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 봉천로33길 7 1층 보스커피앤브런치 본점</div>
                <div><i class="pink bi bi-hash"></i> 디저트/카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  1
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  7
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjEwMTBfMjMy%2FMDAxNjY1NDEyMDgxMjgx.M8scJHaEX89tM8O4APG5VLVZc_quSlS46OksQC_SkOUg.ioeAKyDaNjGOugkMnRmCPUp6h1cH1SCPqiZtJVAiYF8g.JPEG.sshooan711%2FIMG_4374.jpg" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">누아쥬</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 쑥고개로 67-1 1층</div>
                <div><i class="pink bi bi-hash"></i> 디저트/카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  0
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  2
                </span>
              </div>
            </div>
          </div>
        
      </div>
    </div>
    <div class="carousel-item active">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20200825_74/1598301995604t8Jk0_PNG/9660_20191014034252_vnlt8.PNG" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">스타벅스 서울대입구역점</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 남부순환로 1812</div>
                <div><i class="pink bi bi-hash"></i> 커피</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  3
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  8
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20220528_12/1653713898040csIwv_PNG/KakaoTalk_20220505_080850541.png" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">카페아에 관악점</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i>서울 관악구 관악로 204 101호</div>
                <div><i class="pink bi bi-hash"></i> 카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  2
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  10
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20200514_130/1589451164772hJgs5_JPEG/PXRu9QCqpQCmjYyxS6x4JM2c.jpg" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">테이블1629</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 장군봉2길 32 1-2층</div>
                <div><i class="pink bi bi-hash"></i> 카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  2
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  5
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20220503_294/1651556677629stQF5_JPEG/IMG_9196.JPG" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">젠틀슬로프</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 쑥고개로 61 1층 젠틀슬로프</div>
                <div><i class="pink bi bi-hash"></i> 카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  1
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  3
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20220326_86/1648230204168XxnmE_JPEG/59F647E6-3FE9-4E39-A7C2-66F6DAB7D153.jpeg" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">다복다복</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 쑥고개로 66 1층</div>
                <div><i class="pink bi bi-hash"></i> 카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  1
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  2
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20221026_169/1666752886167lNB52_PNG/1666752858571.png" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">갤러리카페 비찰</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 신원로 10 남영빌딩 2층</div>
                <div><i class="pink bi bi-hash"></i> 카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  1
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  5
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://ldb-phinf.pstatic.net/20181023_98/1540280282725YaUE2_JPEG/YrxqvNMcNsql69ZSEnhnhCIG.jpg" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">보스커피앤브런치</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 봉천로33길 7 1층 보스커피앤브런치 본점</div>
                <div><i class="pink bi bi-hash"></i> 디저트/카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  1
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  7
                </span>
              </div>
            </div>
          </div>
        
          <div class="col mb-5 d-flex flex-column align-items-between" id="one">
            <div style="width: 15rem; height: 15rem; position: relative;">
              <img class="w-100 h-100 rounded" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjEwMTBfMjMy%2FMDAxNjY1NDEyMDgxMjgx.M8scJHaEX89tM8O4APG5VLVZc_quSlS46OksQC_SkOUg.ioeAKyDaNjGOugkMnRmCPUp6h1cH1SCPqiZtJVAiYF8g.JPEG.sshooan711%2FIMG_4374.jpg" alt="">
              <div class="dot-yellow blink px-1" style="position: absolute; top: 87%; left: 76%;">
               
                
              </div>
              <div class="px-1" style="position: absolute; top: 88%; left: 77%; background-color: rgba(0, 0, 0, 0.44);">
                
                
              </div>
            </div>
            <div style="width: 15rem;">
              <div>
                <div class="my-3">
                  <a href="" class="pink-btn btn">누아쥬</a>
                </div>
                <div class="mb-2 gray text-truncate"><i class="pink bi bi-geo-alt"></i> 서울 관악구 쑥고개로 67-1 1층</div>
                <div><i class="pink bi bi-hash"></i> 디저트/카페</div>
              </div>
              <div class="my-2">
                <span class="me-2">
                  <i class="pink bi bi-heart-fill"></i>
                  0
                </span>
                <span class="">
                  <i class="bi bi-eye"></i>
                  2
                </span>
              </div>
            </div>
          </div>
      </div>
    </div>
{% endblock content %}
  
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/locales/LANG.js"></script>
{% endblock js %}