{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  {{ form.media }}
{% endblock css %}

{% block content %}
  <div class="d-flex justify-content-center">
    {% if request.resolver_match.url_name == "cafe_create" %}
      <h1 class="text-center p-3 m-3 fs-3 fw-bold rounded">리뷰 작성</h1>
    {% elif request.resolver_match.url_name == "cafe_update" %}
      <h1 class="text-center p-3 m-3 fs-3 fw-bold rounded">리뷰 수정</h1>
    {% endif %}
  </div>
  <div class="d-flex justify-content-center p-5">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-outline-primary form-control mb-3" type="submit">OK</button>
    </form>
  </div>
{% endblock content %}

{% block js %}
{% endblock js %}