{% extends 'base.html' %} {% load django_bootstrap5 %} {% load static %}
{% block css %} {{ form.media }}
<link rel="stylesheet" href="{% static 'cafes/css/review_form.css' %}" />
{% endblock css %} {% block content %}
<div class="container">
  <div class="welcome-text">
    {% if request.resolver_match.url_name == "review_create" %}
    <p><span class="cafe-name">{{ article.name }}</span>, 어떠셨나요?</p>
    {% elif request.resolver_match.url_name == "review_update" %}
    <p><span class="cafe-name">{{ article.name }}</span>, 어떠셨나요?</p>
    {% endif %}
  </div>
  <div class="r-create">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %} {% bootstrap_form form %}
      <div class="buttons">
        <button type="submit" class="r-create-button">작성</button>
        <!-- 취소 : 이전 페이지로 돌아가야 하는데 이전 페이지가 어딘지 -->
        <button type="button" class="back-button" onclick="location.href='#'">
          취소
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %} {% block js %}{% endblock js %}
