{% load django_bootstrap5 %} {% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cafe</title>
  {% bootstrap_css %} {% block css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  {% endblock css %}
</head>

<body>
  {% if messages %} {% for message in messages %}
  <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
  {% endfor %} {% endif %}

  <!-- navbar -->
  {% include "navbar.html" %}

  <div class="container" style="min-height: 100vh; margin-top: 5%">
    {% block content %}{% endblock content %}
  </div>

  <div style="position:fixed; bottom:120px; right:450px; z-index:40; cursor:pointer;" onclick="window.scrollTo(0,0);"> 
    <a href="#doz_header">
      <img src="{% static 'image/top_button.png' %}" style="width:120px"> 
    </a>
    </div>

  <!-- footer -->
  {% include "footer.html" %} {% bootstrap_javascript %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {% block js %}
  <script type="text/javascript">
    {% comment %} document.body.style.backgroundColor = "rgb(0, 0, 0)"; {% endcomment %}
    {% comment %} document.body.style.backgroundImage = "url('')"; {% endcomment %}
  </script>
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
  {% endblock js %}
</body>

</html>