@charset "UTF-8";

/* 배경 화면 */
body {
    background-color: #32502E;
    width: 100%;
}


/* 전체 여백 */
.container {
    margin: auto;
    width: 55%;
}


/* 개인정보 부분 정렬 */
.personal-info {
    align-items: center;
    display: flex;
    padding: 10rem 0 4rem;
}


/* 개인정보 사진 */
.personal-info img {
    border-radius: 50rem;
    height: 8rem;
    object-fit: cover;
    width: 8rem;
}


/* 개인정보 글자 부분 */
.info-letter {
    display: flex;
    flex-direction: column;
    margin-left: 3.5rem;
}

.info-upper {
    align-items: center;
    display: flex;
}

.info-upper p {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
}

.edit-button {
    align-items: center;
    background-color: #ECE7B4;
    border: none;
    border-radius: 20rem;
    color: #666666;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    height: 2.5rem;
    justify-content: center;
    margin-left: 4rem;
    width: 9rem;
}

.info-upper form {
    margin-bottom: 0;
}

.follow-button {
    align-items: center;
    background-color: #ECE7B4;
    border: none;
    border-radius: 20rem;
    color: #666666;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    height: 2.5rem;
    justify-content: center;
    margin-left: 4rem;
    width: 9rem;
}


.info-lower {
    align-items: center;
    color: #ffffff;
    display: flex;
}

.follow {
    margin-right: 2.5rem;
}


/* 메뉴 */
.personal-tabs {
    align-items: center;
    border-top: 0.1rem solid #ECE7B4;
    border-bottom: 0.1rem solid #ECE7B4;
    display: flex;
    height: 2.5rem;
    justify-content: space-around;
    margin: 0;
    padding: 0.3rem 0;
    width: 100%;
}

.personal-tabs li {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0.93rem 8.22rem;
    position: relative;
}

.li {
    color: #ffffff;
}

.active {
    border-bottom: 0.15rem solid #ECE7B4;
    color: #ECE7B4;
    font-weight: 600;
}


/* 메뉴 내용 */
.tab-container {
    width: 100%;
}

.tab-content {
    padding: 1.5rem 0;
}

.tab-content img {
    margin: 0.1rem;
    width: 32.6%;
}


/* 더보기 */
.more {
    background-color: transparent;
    border: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 10rem;
}